@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*----------------------------------Colours */

.bg-colour-navbar {
    background-color: #3f312e;
}

.bg-colour-jumbotron {
    background-color: #3f312e;
}

.fg-colour-general {
    color: #f0f0f0;
}

.fg-colour-highlight {
    color: #e3d4c7;
}

/*----------------------------------Text */

.uppercase {
    text-transform: uppercase;
}
/*----------------------------------Title */

.title {
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    
   
}
.name {
     font-family:'Montserrat', sans-serif;
     margin-left: 50px;
     padding-bottom: 40px;
   
}

/*----------------------------------Header */

.header-section {
    margin-right: 20px;
    background-color: #3f312e;
    font-family: 'Montserrat', sans-serif;
}
.button {
    background-color: #b2dfdd;
    margin: 20px 20px 20px 200px;
}
/*----------------------------------main section */

.portfolio-section-block {
    margin: 15px;
    background-color: #b2dfdd;
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    text-size-adjust: auto;
    block-size: 150px;
    padding-top: 35px;
}

.work-history-section-block {
    margin: 15px;
    background-color: #b2dfdd;
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    text-size-adjust: auto;
    block-size: 150px;
    padding-top: 35px;

}
.contact-section-block {
    margin: 15px;
    background-color: #b2dfdd;
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    text-size-adjust: auto;
    block-size: 150px;
    padding-top: 35px;
}

.nav-link {
    display: inline-flex;
}

.footer {
    background-color: #3f312e;

}